.header {
    width: 1600px;
    height: 900px;
    background-image: url("../img/header.png")
}

.sertiz {
    font-size: 48px;
    color: rgba(255, 255, 255, 255);
    font: Montserrat-Bold, OpenSans-Light, MyriadPro-Regular, AdobeInvisFont;
    text-transform: uppercase;
}

.awesome {
    text-transform: capitalize;
    font-size: 18px;
    color: white;
    margin-bottom: 28px;
    margin-top: 16px;
}

.awesome>span {
    text-transform: uppercase;
}

.we>span {
    font-size: 18px;
    color: #f1ad1d;
    font-size: 54px;
}

.we {
    text-transform: uppercase;
    color: white;
    border: 1px white solid;
    width: 831px;
    font-size: 54px;
    padding: 34.5px 30px;
    height: 129px;
    line-height: 2.5;
    background-color: rgba(0, 0, 0, 0.2)
}

.header-conteiner {
    padding-top: 531px;
    padding-left: 215px;
}

;
hr {
    width: 68px;
    height: 3px;
    background-color: #f1ad1d;
}

.about {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin-top: 72px;
}

.description > span {
    text-tranform: capitalize;
}

.description {
    text-align: center;
    font-size: 17px;
    margin-top: 35px;
}

.award {
    width: 1600px;
    text-align:center;
}

.img-award {
    width: 300px;
    text-align: center;
}

.nav-bar ul li {
    display: inline;
}

.nav-bar>div {
    display: inline-block;
}

.nav-bar {
    border-bottom-width: 3px;
    border-bottom-color: #f1ad1d;
    border-bottom-style: solid;
    width: 1169px;
    margin: 50px auto;
}

.nav-text {
    text-transform: uppercase;
    color: #f1ad1d;
    font-size: 28px;

}

.nav-list a {
    font-size: 18px;
    text-decoration: none;
    font-variant: small-caps;
    color: #7e7e7e;
    padding-inline-start: 40px;
}

.nav-list {
    text-align: right;
    margin-left: 440px;
}
